html
	head
		title Editor

		link(rel="stylesheet", href="css/style.css")
	body.debug

		header
			h1 fedojo buttons
			p By
				a(href="http://fedojo.com") fedojo.com
			p Easy grid based on
				a(href="http://dev.fedojo.com/multigrid.css/") MutliGrid.css

		section
			button.button Add element
			button.button Add elements
			button.button Get JSON
			button.button.full-width Get HTML

		section
			a.button Add element
			a.button Add elements
			a.button Get JSON
			a.button Get HTML

		section
			button#addElement.button Add element
			button#addElements.button Add elements
			button#getJSON.button Get JSON
			button#getHTML.button Get HTML

		section
			button#addElement.button Add element
			button#addElements.button Add elements
			button#getJSON.button Get JSON
			button#getHTML.button Get HTML


		footer
